{% extends 'home.html' %}

{% block content %}
  <div class="container mt-8">
    <h2 class="text-2xl font-bold mb-4">Cargar Documentos</h2>

    <form method="post" enctype="multipart/form-data" class="mb-4">
      {% csrf_token %}
      <div class="mb-3">
        <label for="archivo" class="form-label">Seleccionar Archivo (Formato .xlsx)</label>
        <input type="file" name="archivo" accept=".xlsx" class="form-control" id="archivo" required>
        <div class="form-text">Por favor, sube un documento que contenga únicamente una columna. Esto facilitará el procesamiento y asegurará la precisión de los resultados. Gracias por tu colaboración.</div>
      </div>

      <button type="submit" class="btn btn-primary">Cargar</button>
    </form>

    {# Mostrar mensajes de éxito o error después de cargar el archivo #}
    {% if messages %}
      <div class="alert alert-success" role="alert">
        {{ messages }}
      </div>
    {% endif %}
  </div>
{% endblock %}