{% extends 'home.html' %}

{% block content %}
  <div class="container mt-5">
    <h1>Modelo Doc2Vec</h1>

    <form method="post" action="{% url 'doc2vec' %}" class="mt-4">
      {% csrf_token %}
      <div class="input-group mb-3">
        <input type="text" name="query" id="query" class="form-control" placeholder="Ingresa tu consulta" required>
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
      </div>
      <div class="form-text">Por favor, ingrese una oración o contenido.</div>
    </form>

    {% if results %}
      <h3 class="mt-3">Resultados:</h3>
      <div class="mt-3">
        <a href="{% url 'download_results' format='xlsx' %}" class="btn btn-success">Descargar como XLSX</a>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th class="justificado">Contenido</th>
            <th>Similitud</th>
          </tr>
        </thead>
        <tbody>
          {% for result in results %}
          <tr>
            <td>{{ result.id }}</td>
            <td class="justificado">{{ result.contenido | truncatewords_html:100 }}</td>
            <td>{{ result.similitud }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
{% endblock %}