<!DOCTYPE html>
<html>

<head>
    <title>Cargar Documentos</title>
    <!-- Enlace a Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f7f7f7;
            font-family: Arial, sans-serif;
        }
    </style>
</head>

<body>
    <div class="min-h-screen flex items-center justify-center">
        <div class="p-8 bg-white rounded shadow-lg max-w-3xl w-full">
            <h2 class="text-3xl font-bold mb-4 text-blue-700">Cargar Documentos</h2>
            <form enctype="multipart/form-data" method="post" action="{% url 'upload' %}" class="space-y-4">
                {% csrf_token %}
                <div>
                    <label for="file" class="block text-sm font-medium text-gray-700">Seleccionar Archivo:</label>
                    <input type="file" name="file" id="file" class="mt-1 p-2 rounded border border-gray-300">
                </div>
                <div>
                    <button type="submit" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 transition duration-300">Cargar</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
