{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css' rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body class="bg-gray-100">

    <!-- Barra de navegación vertical -->
    <nav class="bg-gray-800 text-white h-screen w-16 fixed top-0 left-0 flex flex-col items-center">
        <a href="#home" class="py-2 my-2 hover:bg-gray-600">Home</a>
        <a href="{% url 'cargar_documentos' %}" class="py-2 my-2 hover:bg-gray-600">Cargar Documentos</a>
        <a href="{% url 'ver_documentos' %}" class="py-2 my-2 hover:bg-gray-600">Ver Documentos</a>
        <a href="#word2vec" class="py-2 my-2 hover:bg-gray-600">Modelo Word2Vec</a>
        <a href="#doc2vec" class="py-2 my-2 hover:bg-gray-600">Modelo Doc2Vec</a>
        <a href="{% url 'logout' %}" class="py-2 my-2 hover:bg-gray-600">Cerrar Sesión</a>
    </nav>

    <!-- Contenido principal -->
    <div class="ml-16 p-8">
        <h1 class="text-3xl font-bold mb-4">Bienvenido, {{ user.username }}!</h1>

        <!-- Contenido dinámico -->
        {% block content %}{% endblock %}
        
    </div>

</body>

</html>


