<!-- preprocesar.html -->

{% extends 'home.html' %}

{% block content %}
  <div class="container mt-5">
    <h1>Preprocesamiento de Datos</h1>
    
    <p>
      Durante el preprocesamiento de los datos, realizaremos diversas operaciones, como limpieza, eliminación de stop words, supresión de valores duplicados y caracteres especiales. A continuación, encontrarás un formulario que te permitirá personalizar el proceso al eliminar términos específicos que consideres innecesarios. Tu participación es clave para adaptar el preprocesamiento según tus preferencias. ¡Gracias por tu colaboración!
    </p>

    <!-- Cargar el filtro personalizado -->
    {% load preprocesamiento_tags %}

    <!-- Mostrar el formulario para eliminar palabras -->
    <div class="container mt-3">
      <form method="post" action="{% url 'preprocesar' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Preprocesar datos</button>
      </form>
    </div>

    <!-- Mostrar los resultados del preprocesamiento línea por línea -->
    <div class="container mt-5">
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th>ID</th>
            <th class="justificado">Contenido Preprocesado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for documento in documentos %}
            {% for contenido_linea in documento.contenido_preprocesado.splitlines %}
              <tr class="mb-3">
                <td>{{ documento.id }}</td>

                <!-- Mostrar solo las primeras 100 palabras -->
                <td class="justificado">{{ contenido_linea|truncatewords_html:100 }}</td>

                <!-- Agregar un botón para ver el texto completo -->
                <td class="text-center">
                  <a href="{% url 'ver_texto_completo' documento.id %}?linea={{ forloop.counter0 }}" class="btn btn-info btn-sm w-100 mb-2 mx-auto text-white">Ver</a>
                </td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

