{% extends 'home.html' %}

{% block content %}
  <div class="container mt-5">
    <h1>Modelo Word2Vec</h1>

    <!-- Nube de Palabras -->
    <div class="wordcloud-container mt-5">
      <h4>Nube de Palabras</h4><br>
      <p>Visualización gráfica que representa la frecuencia de palabras en un conjunto de datos. El tamaño de cada palabra es proporcional a su frecuencia de aparición.</p>
      <img src="data:image/png;base64,{{ wordcloud_image }}" alt="Wordcloud" class="img-fluid" style="max-width: 50%; height: auto;">
    </div>

    <!-- Visualización de Vectores de Palabras -->
    <div class="word-vectors-container mt-5">
      <h4>
        </strong>Visualización de Vectores de Palabras</strong>
      </h4>
      <p>Representación gráfica de los vectores de palabras generados por un modelo Word2Vec. Cada palabra se mapea a un punto en un espacio vectorial donde la proximidad entre puntos refleja la similitud semántica entre las palabras.</p>
      {{ plot_div|safe }}
    </div>

    <!-- Operaciones Aritméticas -->
    <div class="arithmetic-operations-container mt-5">
      <h4>Operaciones Aritméticas</h4><br>
      <p>Los modelos Word2Vec no solo capturan significados de palabras, sino que también permiten operaciones aritméticas en su espacio vectorial. Por ejemplo, la operación 'reina' + 'rey' - 'hombre' puede dar como resultado 'mujer'. Estas operaciones ilustran la capacidad del modelo para entender relaciones semánticas y revelan conexiones significativas entre conceptos en un espacio matemático.</p>
      <form method="post" action="{% url 'word2vec' %}">
        {% csrf_token %}
        
        <!-- Primer Cuadro de Texto -->
        <div class="form-group">
          <label for="word1">Palabra 1:</label>
          <input type="text" name="word1" id="word1" class="form-control" required>
        </div>

        <!-- Menú Desplegable de Operadores -->
        <div class="form-group">
          <label for="operator">Operador:</label>
          <select name="operator" id="operator" class="form-control" required>
            <option value="+">Suma (+)</option>
            <option value="-">Resta (-)</option>
            <option value="*">Multiplicación (*)</option>
            <option value="/">División (/)</option>
          </select>
        </div>

        <!-- Segundo Cuadro de Texto -->
        <div class="form-group">
          <label for="word2">Palabra 2:</label>
          <input type="text" name="word2" id="word2" class="form-control" required>
        </div>

        <!-- Botón para Realizar la Operación -->
        <button type="submit" class="btn btn-primary">Realizar Operación</button>
      </form>

      <!-- Resultados en una Tabla -->
      <div class="result-container mt-3">
        {% if result %}
          <h5 class="mt-3">Resultado de la operación:</h5>
          {{ result|safe }}
        {% endif %}
      </div>
      <div class="mt-5 text-center">
        <a href="{% url 'word2vec_personalizable' %}" class="btn btn-primary">Modelo Personalizable</a>
      </div>
    </div>
  </div>

  <!-- Script para Limpiar el Campo de Entrada al Recargar la Página -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      document.getElementById('word1').value = '';
      document.getElementById('operator').value = '+';
      document.getElementById('word2').value = '';
    });
  </script>
{% endblock %}